<h1>Beauty Wanについて</h1>
<p>
  大切な家族を一時的に預けるトリミングサロンは安心できる場所であってほしいと願っています。<br>
  しかし、人間の美容院と比べ店舗数は少なく、そのサロンが実際どんなところであるかという情報は更に少ないです。<br>
  全ての飼い主さんのための
</p>
<%= image_tag 'smile_dog.jpg', :size =>'450x350' %>