<div class="text-center">
  <h1>Beauty Wanについて</h1>
  <p>
    犬のトリミングは美容面だけと思われがちですが、健康管理や衛生状態を保つために必要です。<br>
    トリミング時は大切な愛犬を一時的に預けることになるので、安心して任せられるサロンにお願いしたいところです。<br>
  </p>
  <p>
    安心できるトリミングサロンを選ぶ上で、清潔で衛生的な環境であるか、安全面に配慮されているか、<br>
    料金設定やサービス内容はどのようになっているか等、飼い主さんにとってチェックしたいことがあるかと思います。
  </p>
  <p>
    しかし、人間の美容院と比べ店舗数は少なく、そのサロンが実際どんなところであるかという情報は少ないです。<br>
  </p>
  <p>
    Beauty Wanは、サロン情報だけでなく、実際にサロンに行かれた方の口コミが投稿されています。<br>
    全ての飼い主様が、Beauty Wanを通して安心できるトリミングサロンと出会えるサイトを目指します。
  </p>

  <div class="container">
    <div class="row">
      <div class="col-4">
        <%= image_tag 'yorkshire.jpg', :size =>'400x350' %>
      </div>
      <div class="col-4">
        <%= image_tag 'smile_dog.jpg', :size =>'400x350' %>
      </div>
      <div class="col-4">
        <%= image_tag 'dog1.jpg', :size =>'400x350' %>
      </div>
    </div>
  </div>
</div>